$backgr-garkRed: #98000a;
$backgr-red: #cd000d;
$color-white: white;
$color-whiteGrey: #daddde;
$color-grey: #e8e8e8;
$color-darkGrey: #1c1f26;
$color-fonts: #636060;
$main-padding: 8em 3%;
$font-size: 14px;
$line-height: 1.6em;
$lines-to-show: 3;